@media only screen and (max-width: 1920px) and (min-width: 1367px) {

    .menu_p {
        color: red; /* this is only for test */
    }
}

/* ************************************************************** */

@media only screen and (max-width: 1366px) and (min-width: 1281px) {
    .menu_p {
        color: blue; /* this is only for test */
    }
}

/* ************************************************************** */

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    .menu_p {
        color: green; /* this is only for test */
    }
}

/* ************************************************************** */

@media only screen and (max-width: 1025px) {
    .menu_p {
        color: yellowgreen; /* this is only for test */
    }
}