.links {
    width: 95%;
    height: 100px;
    display: inline-block;
    border: 1px;
}

.links a {
    text-decoration: none;
    text-decoration: -moz-none;
    list-style-type: none;
    width: 40px;
    height: 60px;
    background-color: transparent;
    border: 1px;
    margin: 5px 5px 5px 20px;
}

.menu_p {
    padding: 10px;
    font-style: italic;
    font-size: 13px;
    float:left;
}

.logreg {
    padding: 10px;
    font-style: italic;
    font-size: 13px;
    float:right;
}

h1 {
    margin: 10px 10px 10px 20px;
    font-style: revert;
}